.footer{
    background-color: #e3e3e3;
    color: #121257;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: center;
}